{% extends 'base.html.twig' %}

{% block title %}homepage{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    {% endblock %}


{% block main %}
 <h1>Accueil</h1>                        {# voir comment envoyer u ne alerte de mail bien vérifié #}



<!-- <section class="conteneur">

    <div class="slider">
      <img class="active" src="{{ asset('media/cercle.png') }}">
      <img src="{{ asset('media/cercle.png') }}">
      <img src="{{ asset('media/cercle.png') }}">
    </div>

    <div class="cont-btn">
      <div class="btn-nav left">←</div>
      <div class="btn-nav right">→</div>
    </div>

  </section> -->

  <section>
    <div class="slider-container slider-2">
        <div class="slider">
        <a href="#"><p>RECRUTEUR</p></a>  
         <a href="#"><p>CANDIDAT</p></a> 
        <a href="#"><p>ANNONCES</p></a>  
         <a href="#"><p>RECRUTEUR</p></a> 
         <a href="#"><p>CANDIDAT</p></a>
         <a href="#"><p>ANNONCES</p></a>  
        </div>
      </div>
  </section>

  <section>        
    <h2>Les différents métiers du médico-social</h2>
    <p>
        Les métiers du social se répartissent en plusieurs domaines. On trouve les métiers de l'aide sociale et du conseil (assistant de service social, conseiller en économie sociale et familiale, médiateur familial…), 
        ceux de l'éducation et des intervenants auprès d'enfants ou adultes en situation de handicap, d'enfants placés ou de jeunes délinquants (animateur socio-culture , éducateur spécialisé, éducateur technique spécialisé, 
        conseiller d’insertion et de probation …), les métiers des services à la personne qui travaillent parfois au domicile des personnes (accompagnant éducatif et social, technicien de l'intervention sociale et familiale, 
        assistant maternel…) ou à leur propre domicile (assistant familial), et ceux qui interviennent dans l'insertion professionnelle (chargé d'insertion professionnelle, par exemple). De manière transversale, il existe aussi 
        les fonctions d’encadrement et de direction (directeur des structures sociales).
        Afin d'illustrer ce petit résumé, nous verrons quelques descriptifs du de quelques métiers.
    </p>
<div id="metierDuSocial">                   
<article>                                                           <!--les différents liens suivants mènet à des ancre qui s'ouvrent dans une autre page -->
    <div class="article1">
        <h3>Administration, expertise et encadrement</h3>               
            <ul>
                <li><a href="./presentationDesMetiers/metiersAdmin.html#directeur" target="_blank">Directeur d'établissement</a></li>  
                <li><a href="./presentationDesMetiers/metiersAdmin.html#ingenieur" target="_blank">Ingénieur social</a></li>
            </ul>
    </div>
</article>
<article>
    <div class="article2">
        <h3>Aide et conseil</h3>
            <ul>
                <li><a href="./presentationDesMetiers/metiersAideConseil.html#assistantSocial" target="_blank">Assistant de service social</a></li>
                <li><a href="./presentationDesMetiers/metiersAideConseil.html#auxiliaire" target="_blank">Auxiliaire de vie sociale</a></li>
                <li><a href="./presentationDesMetiers/metiersAideConseil.html#cesf" target="_blank">Conseiller en économie sociale et familiale</a></li>
            </ul>
    </div>
</article>
<article>
    <div class="article3">
        <h3>Éducation et animation</h3>
        <ul>
            <li><a href="./presentationDesMetiers/metiersEduc.html#educSpe" target="_blank">Educateur spécialisé</a></li>
            <li><a href="./presentationDesMetiers/metiersEduc.html#educTech" target="_blank">Educateur technique spécialisé</a></li>
            <li><a href="./presentationDesMetiers/metiersEduc.html#educEnfant" target="_blank">Educateur jeunes enfants</a></li>
            <li><a href="./presentationDesMetiers/metiersEduc.html#moniteur" target="_blank">Moniteur éducateur</a></li>
            <li><a href="./presentationDesMetiers/metiersEduc.html#amp" target="_blank">Aide medico-psychologique</a></li>
            <li><a href="./presentationDesMetiers/metiersEduc.html#anim" target="_blank">Animateur</a></li>
        </ul>
    </div>  
</article>
</div> 
<aside>
    <iframe src="https://www.youtube.com/embed/0tPXRxjtXWE" 
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen></iframe>
</aside>
</section>


<section>
    <article>
<h1>A propos de nous</h1>
        <p>
            Lancé en mars 2022 par un passionnée du web et des problématiques RH du métier du social, ("nom""du
            site".fr) est un site de recrutement en ligne spécialisé dans les métiers du médico -social.
            ("nom du site".fr) a pour objectif de favoriser la mise en relation de talents des acteurs du médico-social
            et de recruteurs grâce à des solutions performantes et efficaces. Développé en interne,
            indépendant et fidèle la vision de son fondateur, ("dnom du du site".fr).fr se veut avant tout humain et
            proche de ses membres.
            Vous souhaitez recruter un profil éducateur spécialisé, assistant social, auxiliaire de vie, Directeur
            d'établissement, etc.? Contactez-nous, E-works.fr offre une audience ciblée, de qualité et vous apportera
            une réponse sur-mesure.
            Vous souhaitez faire évoluer votre carrière? ("nom du site".fr) vous propose un large choix d'offres de
            formules de recrutement, consultez et postez les offres, conseils et solutions de e-visibilité.
            Vous souhaitez devenir partenaire ("nom du site".fr) ? Contactez-nous, notre équipe marketing vous répondra
            dans les plus brefs délais.
        </p>
        <p>
            Merci à tous les membres ("nom du site".fr) pour votre fidélité et confiance!
        </p>

        <p>
            16 bonnes raisons de choisir <!--mettre nom du site-->
        <ul>
            <li>Le seul site emploi généraliste de référence du secteur social et médico-social</li>
            <li>La plus forte audience de professionnels de la santé et du social avec 300 000 visiteurs par mois</li>
            <li>De nombreux recruteurs nous ont déjà choisi</li>
            <li>Un accès en totale transparence aux statistiques de consultations et de candidatures</li>
            <li>Des solutions spécifiques pour les métiers en tension</li>
            <li>Des conseils emploi et carrière auprès de la communauté des professionnels</li>
            <li>Un référencement optimum : en tête des résultats sur les moteurs de recherche</li>
            <li>Un espace illimité et une page recruteur pour valoriser vos offres d’emploi et votre structure</li>
            <li>Une mise en ligne des offres d’emploi dans la demi-journée</li>
            <li>La simplicité d’utilisation de nos outils</li>
            <li>Un service client joignable et disponible à tout moment</li>
            <li>Une audience exclusivement constituée de professionnels de santé en recherche d’opportunités</li>
            <li>100 % des CV consultables sont des professionnels employables</li>
            <li>Une possibilité de forfait illimité pour un budget recrutement maîtrisé</li>
            <li>Vous n’avez pas le temps, nous nous chargeons de saisir vos offres d’emploi</li>
        </ul>
        </p>
    </article>
    </section>
 

{% endblock %}
