{% extends 'base.html.twig' %}

{% block title %}homepage{% endblock %}

{% block body %}
 <h1>Accueil</h1>                        {# voir comment envoyer u ne alerte de mail bien vérifié #}

 

{% endblock %}
