{% extends 'base.html.twig' %}

{% block title %}Hello PresentationMetiersEducationanimationController!{% endblock %}

{% block main %}
 <h1>Education et animation</h1>
                <h2 id="educSpe">Educateur spécialisé</h2>
                <p>
                    L’éducateur spécialisé, dans le cadre des politiques partenariales de prévention, de protection et d’insertion, aide au développement de la personnalité et 
                    à l’épanouissement de la personne ainsi qu’à la mise en œuvre de pratiques d’action collective en direction des groupes et des territoires.
                    <br>
                    Son intervention, dans le cadre d’équipes pluri-professionnelles, s’effectue conformément au projet institutionnel répondant à une commande sociale éducative exprimée par 
                    différents donneurs d’ordre et financeurs, en fonction des champs de compétences qui sont les leurs dans un contexte institutionnel ou un territoire. 
                    <br>
                    L’éducateur spécialisé est impliqué dans une relation socio-éducative de proximité inscrite dans une temporalité. Il aide et accompagne des personnes, des groupes ou des familles 
                    en difficulté dans le développement de leurs capacités de socialisation, d’autonomie, d’intégration et d’insertion. 
                    <br>
                    Pour ce faire, il établit une relation de confiance avec la personne ou le groupe accompagné et élabore son intervention en fonction de son histoire et de ses potentialités psychologiques, 
                    physiques, affectives, cognitives, sociales et culturelles. 
                    <br>
                    L’éducateur spécialisé a un degré d’autonomie et de responsabilité dans ses actes professionnels le mettant en capacité de concevoir, conduire, évaluer des projets personnalisés ou adaptés à des populations identifiées. 
                    Il est en mesure de participer à une coordination fonctionnelle dans une équipe et de contribuer à la formation professionnelle d’autres intervenants. 
                    <br>
                    L’éducateur spécialisé développe une fonction de veille et d’expertise qui le conduit à être interlocuteur et force de propositions pour l’analyse des besoins et la définition des orientations des politiques sociales ou éducatives des institutions qui l’emploient. 
                    Il est en capacité de s’engager dans des dynamiques institutionnelles, inter institutionnelles et partenariales. 
                    <br>
                    L’éducateur spécialisé intervient dans une démarche éthique qui contribue à créer les conditions pour que les enfants, adultes, familles et groupes avec lesquels il travaille soient considérés dans leurs droits, aient les moyens d’être acteurs de leur développement 
                    et soient soutenus dans le renforcement des liens sociaux et des solidarités dans leur milieu de vie. 
                    <br>
                    L’éducateur spécialisé intervient principalement, mais sans exclusive, dans les secteurs du handicap, de la protection de l’enfance, de la santé et de l’insertion sociale. Il est employé par les collectivités territoriales, 
                    la fonction publique et des associations et structures privées.
                </p>

                <h2 id="educTech">Educateur Technique spécialisé</h2>
                <p>
                    L'Educateur Technique Spécialisé travaille au sein d'une équipe pluri-professionnelle en lien avec d'autres acteurs sociaux, médicaux, économiques et du domaine de la formation. 
                    <br>
                    L'Educateur Technique Spécialisé exerce ses fonctions dans des établissements et services sanitaires, sociaux et médicosociaux, dans les entreprises de travail protégé, en milieu ouvert ou dans des dispositifs d'insertion des secteurs public et privé. 
                    <br>
                    Il travaille auprès d'enfants, d'adolescents et d'adultes présentant un handicap ou une inadaptation en promouvant des actions économiques, de formation et d'insertion. 
                    <br>
                    Outre l'accompagnement éducatif et l'insertion par l'apprentissage pré-professionnel ou professionnel des publics avec lesquels il travaille, l'activité de l’ETS est orientée vers la conception, la mise en oeuvre et l’évaluation de projets qui imposent une progression des 
                    apprentissages en rapport avec les exigences d'une production et l'acquisition des rythmes de vie liés aux situations de travail.
                </p>

                <h2 id="educEnfant">Educateur de jeunes enfants</h2>
                <p>
                    L'éducateur de jeunes enfants est un spécialiste de la petite enfance. Ses fonctions se situent à trois niveaux : éducation, prévention, coordination. En créant un environnement riche et motivant, il contribue à l'éveil des jeunes enfants et à leur apprentissage à la vie sociale. 
                    Il crée un environnement permettant la construction de liens sociaux et un accompagnement de la fonction parentale. Pour accomplir ses missions, il est amené à développer des partenariats avec les professionnels du champ sanitaire, social et de l'éducation nationale.
                </p>

                <h2 id="moniteur">Moniteur éducateur</h2>
                <p>
                    Le moniteur-éducateur participe à l’action éducative, à l’animation et à l’organisation de la vie quotidienne de personnes en difficulté ou en situation de handicap, pour le développement de leurs capacités de socialisation, d’autonomie, d’intégration et d’insertion, 
                    en fonction de leur histoire et de leurs possibilités psychologiques, physiologiques, affectives, cognitives, sociales et culturelles. 
                    <br>
                    Il élabore son intervention avec l’équipe de travail et son encadrement dans le cadre du projet institutionnel répondant à une commande sociale éducative exprimée par différents donneurs d’ordre et financeurs, en fonction de leurs champs de compétences : 
                    intervention individuelle (administrative ou judiciaire), collective ou territorialisée. Il intervient dans une démarche éthique qui contribue à créer les conditions pour que les enfants, adultes, familles et groupes avec lesquels ils travaillent aient les moyens d’être 
                    acteurs de leur développement et de renforcer les liens sociaux et les solidarités dans leurs lieux de vie. 
                    <br>
                    Le moniteur-éducateur assure une relation éducative au sein d’espaces collectifs et favorise l’accès aux ressources de l’environnement (sportives, culturelles, citoyennes...). Il peut ainsi mettre en place et encadrer des médiations éducatives et des activités de soutien scolaire, 
                    d’insertion professionnelle ou de loisirs. Il veille à la qualité de l’animation des structures dans lesquelles les personnes vivent. Les actes de la vie quotidienne sont un support essentiel à son intervention. Il contribue, dans le cadre d’équipes pluri-professionnelles, 
                    à la mise en œuvre au quotidien de projets personnalisés ou adaptés auprès des personnes accompagnées. Grâce à sa connaissance des situations individuelles, il contribue à l’élaboration de ces projets personnalisés et participe au dispositif institutionnel. 
                    <br>
                    Le moniteur-éducateur intervient dans des contextes différents. 
                    <br>
                    Il peut contribuer à l’éducation d’enfants ou d’adolescents ou au soutien d’adultes présentant des déficiences sensorielles, physiques ou psychiques ou des troubles du comportement. Dans ce contexte, il assure une relation éducative avec ces personnes, organise et anime leur quotidien, 
                    en les accompagnant dans l’exécution des tâches quotidiennes. Il contribue ainsi à instaurer, restaurer ou préserver leur autonomie. 
                    <br>
                    Il peut également intervenir auprès d’enfants, d’adolescents ou d’adultes en difficulté d’insertion. Par son accompagnement quotidien, conduit dans une visée de socialisation et d’intégration, le moniteur-éducateur aide à améliorer l’adaptation sociale de ces personnes. 
                    <br>
                    Les moniteurs éducateurs interviennent principalement, mais sans exclusive dans les institutions du secteur du handicap, de la protection de l’enfance, de la santé et de l’insertion sociale assurant une prise en charge collective des publics. Il est employé par les collectivités territoriales, 
                    la fonction publique et des associations et structures privées.
                </p>

                <h2 id="amp">Aide médico-psychologique</h2>
                <p>
                    L’aide médico-psychologique (A.M.P.) exerce une fonction d’accompagnement et d’aide dans la vie quotidienne.
                    A ce titre, il intervient auprès d’enfants, d’adolescents, d’adultes en situation de handicap (que la déficience soit physique, sensorielle, mentale, cognitive, psychique, résulte d’un polyhandicap ou d’un trouble de santé invalidant). Il peut également intervenir auprès de personnes 
                    dont la situation nécessite une aide au développement ou au maintien de l’autonomie sur le plan physique, psychique ou social. 
                    <br>
                    Le rôle de l’A.M.P. se situe à la frontière de l’éducatif et du soin. Il prend soin des personnes par une aide de proximité permanente durant leur vie quotidienne, en les accompagnant tant dans les actes essentiels de ce quotidien que dans les activités de vie sociale et de loisirs. 
                    <br>
                    A travers l’accompagnement et l’aide concrète qu’il apporte, l’A.M.P. établit une relation attentive et sécurisante pour prévenir et rompre l’isolement des personnes et essayer d’appréhender leurs besoins et leurs attentes afin de leur apporter une réponse adaptée. Il a un rôle d’éveil, 
                    d’encouragement et de soutien de la communication et de l’expression verbale ou non. 
                    <br>
                    Par le soutien dans les gestes de la vie quotidienne, l’aide médico-psychologique participe donc au bien-être physique et psychologique de la personne. Il contribue également à la prévention de la rupture et/ou à la réactivation du lien social par la lutte contre l’isolement, 
                    le maintien des acquis et la stimulation des potentialités. 
                    <br>
                    L’A.M.P. intervient au sein d’équipes pluri-professionnelles. Selon les situations, il travaille sous la responsabilité d’un travailleur social ou d’un professionnel paramédical. C’est ainsi qu’il seconde suivant les structures ou au domicile et selon les circonstances, un éducateur, un animateur, 
                    un infirmier, un kinésithérapeute...
                </p>

                <h2 id="anim">Animateur</h2>
                <p>
                    L'animateur organise des activités diverses à l'attention de publics variés (enfants, adolescents, personnes âgées etc.).
                    <ul>On trouve notamment des animateurs :</ul>
                        <li>dans le cadre de projets d'accompagnement scolaire et d'activités péri-scolaires gérés par les municipalités</li>
                        <li>dans des maisons de jeunes lors de l'organisation de séjours, de sorties ou d'atelier où ils jouent un véritable rôle éducatif</li>
                        <li>dans des EHPAD ou foyers logement où ils propose des activités aux personnes âgées en fonction de leur degré d'autonomie</li>
                </p>
{% endblock %}
