{% extends 'base.html.twig' %}

{% block title %}Hello PresentationMetiersaideconseilController!{% endblock %}

{% block main %}
 <h1>Aide et conseil</h1>
                  <h2 id="assistantSocial">Assistant de service social</h2>
                    <p>
                        L’assistant de service social exerce de façon qualifiée, dans le cadre d’un mandat et de missions spécifiques à chaque emploi, une profession d’aide définie et réglementée (article L411-1 et suivants du code de l’action sociale et des familles) 
                        dans une diversité d’institutions, de lieux et de champs d’intervention. 
                        Les assistants de service social et les étudiants se préparant à l’exercice de cette profession sont tenus au secret professionnel dans les conditions et sous les réserves énoncées aux articles 226-13 et 
                        226-14 du code pénal (article L411-3 du code de l’action sociale et des familles).
                        <br>
                        Dans le cadre des missions qui lui sont confiées, l’assistant de service social accomplit des actes professionnels engageant sa responsabilité par ses choix et ses prises de décision qui tiennent compte de la loi et des politiques sociales, de 
                        l’intérêt des usagers, de la profession et de ses repères pratiques et théoriques construits au fil de l’histoire, de lui même en tant qu’individu et citoyen.
                        <br>
                        Dans une démarche éthique et déontologique, il contribue à créer les conditions pour que les personnes, les familles et les groupes avec lesquels il travaille, aient les moyens d’être acteurs de leur développement et de renforcer les liens sociaux 
                        et les solidarités dans leurs lieux de vie.
                        <br>
                         <ul>Dans ce cadre, l’assistant de service social agit avec les personnes, les familles, les groupes par une approche globale pour :
                            <li>améliorer leurs conditions de vie sur le plan social, sanitaire, familial, économique, culturel et professionnel</li>
                            <li>développer leurs propres capacités à maintenir ou restaurer leur autonomie et faciliter leur place dans la société</li>
                            <li>mener avec eux toute action susceptible de prévenir ou de surmonter leurs difficultés</li>
                        </ul>
                        Il est force de propositions pour la conception des politiques sociales, les orientations générales et les missions développées par l’organisme qui l’emploie, ce qui l’amène à occuper des fonctions de nature différente pouvant nécessiter une spécialisation 
                        ou l’exercice de responsabilités particulières en conformité avec les finalités de sa profession.
                        <br>
                        L’assistant de service social à partir d’une analyse globale et multi-référentielle de la situation des personnes, familles ou groupes procède à l’élaboration d’un diagnostic social et d’un plan d’intervention conclu avec la participation des intéressés. 
                        Il contribue aux actions de prévention, d’expertise ainsi qu’à la lutte contre les exclusions et au développement social en complémentarité avec d’autres intervenants. Il initie, promeut, participe, pilote des actions collectives et de groupes dans une dynamique 
                        partenariale et d’animation de réseau en favorisant l’implication des usagers.
                    </p>

                  <h2 id="auxiliaire">Auxiliaire de vie sociale</h2>
                    <p>
                        L’auxiliaire de vie sociale réalise une intervention sociale visant à compenser un état de fragilité, de dépendance ou de difficultés dû à l’âge, la maladie, le handicap ou les difficultés sociales par une aide dans la vie quotidienne. 
                        Il favorise ainsi le maintien de la personne au domicile et évite son isolement. Il veille à la préservation ou à la restauration de l’autonomie de la personne et l’accompagne dans sa vie sociale et relationnelle.
                        <br>
                        Il intervient auprès des familles, des enfants, des personnes en difficulté de vie ou en difficulté sociale, des personnes âgées, malades ou handicapées. 
                        Il réalise cette intervention au domicile, lieu de résidence privative (habituel ou de substitution) de la personne aidée, et l’accompagne dans son environnement proche.
                        <br>
                        L’auxiliaire de vie sociale repère les potentialités et les incapacités constatées de la personne, ses besoins et ses attentes. Il met en œuvre un accompagnement adapté à la situation de la personne soit en l’aidant à faire, 
                        soit en faisant à sa place lorsque la personne est manifestement dans l’incapacité d’agir seule. Il évalue régulièrement et réajuste son intervention en s’assurant du consentement de la personne et de son implication à toutes les phases du projet individualisé et 
                        en collaboration avec l’encadrement.
                    </p>
                   <h2 id="cesf">Conseiller en économie sociale et familiale</h2>
                     <p>
                        Le Conseiller en Economie Sociale et Familiale (CESF) aide les familles, les individus et les groupes à résoudre leurs problèmes de vie quotidienne par l’information, le conseil technique et l’organisation de formations. Le CESF conseille les personnes afin de leur éviter le gaspillage, 
                        les aider à faire le meilleur choix en fonction de leurs besoins, de leurs goûts et de leurs désirs en connaissance de cause dans tous les domaines de la vie quotidienne (alimentation, logement, habillement, santé, habitat et environnement et vie sociale, etc.). 
                        L'objectif des interventions du Conseiller en Economie Sociale et Familiale est du d’éviter l’exclusion sociale des familles.
                     </p>
{% endblock %}
