{% extends 'base.html.twig' %}

{% block title %}Hello PresentationMetiersExpertiseController!{% endblock %}

{% block main %}
 <h1>Administration, expertise et encadrement</h1>
                <h2 id="directeur">Directeur d'Etablissement</h2>
                    <p>
                        Le directeur d’établissement social ou médico-social assume la responsabilité générale du bon fonctionnement de son établissement.
                        Le directeur d’établissement est responsable de la gestion du personnel de l'établissement, de son budget et des achats nécessaires. 
                        Le directeur établit la stratégie de l’établissement, coordonne la mise en œuvre des projets correspondants, 
                        et assume leur communication aux partenaires.
                    </p>
                        <h2 id="ingenieur">Ingénieur social</h2>
                            <p>
                                Les ingénieurs sociaux sont des experts des politiques sociales et médico-sociales. Ils occupent généralement des postes de chargé de mission ou d'études voire de conseillers techniques.
                                Sur la base de connaissances pluridisciplinaires, un ingénieur social est amené à établir des diagnostics des besoins locaux et à proposer des réponses adéquates. 
                                Il peut également etre amené, si nécessaire, à concevoir et piloter des opérations de veilles sociales.
                            </p>

{% endblock %}
